In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
# series -> numpy 와 비슷
# series = index + value
ary = np.array([1,2,3,4,'eun'],dtype=np.object) 
print(ary) # 1차원의 배열
print(type(ary))

[1 2 3 4 'eun']
<class 'numpy.ndarray'>

In [3]:
ary = pd.Series([1,2,3,4,'eun'],dtype=np.object)
print(ary) # index + value
print(type(ary)) # 시리즈 형태

0      1
1      2
2      3
3      4
4    eun
dtype: object
<class 'pandas.core.series.Series'>

In [7]:
print(ary.values)
print(type(ary.values)) # Numpy의 벡터와 동일한 결과 출력

[1 2 3 4 'eun']
<class 'numpy.ndarray'>

In [5]:
print(ary.index)

RangeIndex(start=0, stop=5, step=1)

In [6]:
print(type(ary.index))

<class 'pandas.core.indexes.range.RangeIndex'>

In [8]:
def seriesInfo(ary) :
    print('index + value : \n ',ary)
    print('value : ',ary.values)
    print('value type : ', type(ary.values))
    print('index : ',ary.index)
    print('index type : ',type(ary.index))

In [12]:
ary = pd.Series([1,2,3,4,5],dtype=np.int32,
               index=['하나','둘','셋','넷','다섯'])
seriesInfo(ary)

index + value :
  하나    1
둘     2
셋     3
넷     4
다섯    5
dtype: int32
value :  [1 2 3 4 5]
value type :  <class 'numpy.ndarray'>
index :  Index(['하나', '둘', '셋', '넷', '다섯'], dtype='object')
index type :  <class 'pandas.core.indexes.base.Index'>

In [13]:
ary.index.name = '구별'
seriesInfo(ary)

index + value :
  구별
하나    1
둘     2
셋     3
넷     4
다섯    5
dtype: int32
value :  [1 2 3 4 5]
value type :  <class 'numpy.ndarray'>
index :  Index(['하나', '둘', '셋', '넷', '다섯'], dtype='object', name='구별')
index type :  <class 'pandas.core.indexes.base.Index'>

In [14]:
ary['둘']

2

In [15]:
ary[['둘','셋']]

구별
둘    2
셋    3
dtype: int32

In [17]:
ary[:'셋']

구별
하나    1
둘     2
셋     3
dtype: int32

In [21]:
for idx, value in ary.items() :
    print('idx : {}, value : {}'.format(idx,value))

idx : 하나, value : 1
idx : 둘, value : 2
idx : 셋, value : 3
idx : 넷, value : 4
idx : 다섯, value : 5

In [25]:
ary.items

<bound method Series.items of 구별
하나    1
둘     2
셋     3
넷     4
다섯    5
dtype: int32>

In [27]:
# dict -> {key : value}
for idx in ary.keys() :
    print('idx : {}'.format(idx))

idx : 하나
idx : 둘
idx : 셋
idx : 넷
idx : 다섯

In [30]:
for value in ary.values :
    print('value : {}'.format(value))

value : 1
value : 2
value : 3
value : 4
value : 5

In [33]:
ary = pd.Series(range(10,21))
seriesInfo(ary)

index + value :
  0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
dtype: int64
value :  [10 11 12 13 14 15 16 17 18 19 20]
value type :  <class 'numpy.ndarray'>
index :  RangeIndex(start=0, stop=11, step=1)
index type :  <class 'pandas.core.indexes.range.RangeIndex'>

In [35]:
ary = pd.Series({'c':1,'b':5,'a':-8,'k':10},dtype=np.float64)
seriesInfo(ary)

index + value :
  c     1.0
b     5.0
a    -8.0
k    10.0
dtype: float64
value :  [ 1.  5. -8. 10.]
value type :  <class 'numpy.ndarray'>
index :  Index(['c', 'b', 'a', 'k'], dtype='object')
index type :  <class 'pandas.core.indexes.base.Index'>

In [36]:
ary + 10

c    11.0
b    15.0
a     2.0
k    20.0
dtype: float64

In [38]:
print('fancy [0,2] indexing {}'.format(ary[[0,2]]))

fancy [0,2] indexing c    1.0
a   -8.0
dtype: float64

In [40]:
print('boolean ary % 2 == 0 indexing {}'.format(ary[ary % 2 == 0]))

boolean ary % 2 == 0 indexing a    -8.0
k    10.0
dtype: float64

In [45]:
from datetime import date, datetime, timedelta
from dateutil.parser import parse

In [69]:
strDay = datetime(2020,2,25)
print(strDay)
print(type(strDay))

2020-02-25 00:00:00
<class 'datetime.datetime'>

In [70]:
print(strDay+timedelta(weeks=1))
print(type(strDay+timedelta(days=1)))

2020-03-03 00:00:00
<class 'datetime.datetime'>

In [71]:
fac01 = pd.Series([int(x) for x in np.random.normal(50,5,(10,))],
                 index = [strDay + timedelta(days=day) for day in range(10)])
seriesInfo(fac01)

index + value :
  2020-02-25    45
2020-02-26    47
2020-02-27    36
2020-02-28    50
2020-02-29    56
2020-03-01    45
2020-03-02    56
2020-03-03    52
2020-03-04    65
2020-03-05    45
dtype: int64
value :  [45 47 36 50 56 45 56 52 65 45]
value type :  <class 'numpy.ndarray'>
index :  DatetimeIndex(['2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
               '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03',
               '2020-03-04', '2020-03-05'],
              dtype='datetime64[ns]', freq=None)
index type :  <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [72]:
fac02 = pd.Series([int(x) for x in np.random.normal(70,8,(10,))],
                 index = [strDay + timedelta(days=day) for day in range(10)])
seriesInfo(fac02)

index + value :
  2020-02-25    79
2020-02-26    60
2020-02-27    82
2020-02-28    80
2020-02-29    73
2020-03-01    80
2020-03-02    64
2020-03-03    70
2020-03-04    71
2020-03-05    68
dtype: int64
value :  [79 60 82 80 73 80 64 70 71 68]
value type :  <class 'numpy.ndarray'>
index :  DatetimeIndex(['2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
               '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03',
               '2020-03-04', '2020-03-05'],
              dtype='datetime64[ns]', freq=None)
index type :  <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [74]:
fac01 + fac02
print(type(fac01+fac02))

<class 'pandas.core.series.Series'>

In [78]:
ary = pd.Series(np.random.normal(50,5,(10,)),
                index=[strDay + timedelta(days=initDate) for initDate in range(10)])
seriesInfo(ary)

index + value :
  2020-02-25    47.732942
2020-02-26    47.329171
2020-02-27    49.914925
2020-02-28    51.208135
2020-02-29    53.639317
2020-03-01    45.995468
2020-03-02    46.446670
2020-03-03    48.593722
2020-03-04    44.382216
2020-03-05    44.200495
dtype: float64
value :  [47.73294201 47.32917123 49.91492468 51.20813523 53.63931657 45.99546809
 46.44667031 48.59372175 44.38221569 44.20049492]
value type :  <class 'numpy.ndarray'>
index :  DatetimeIndex(['2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
               '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03',
               '2020-03-04', '2020-03-05'],
              dtype='datetime64[ns]', freq=None)
index type :  <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [81]:
np.random.normal(50,5,(10,2))

array([[43.13782066, 54.60511455],
       [47.9634488 , 57.12071431],
       [50.98151035, 52.53577614],
       [60.27959013, 50.36633109],
       [50.22257925, 47.14521365],
       [45.07586324, 45.61455088],
       [47.69848166, 48.26845815],
       [50.63696576, 52.60621247],
       [58.9395793 , 42.39425747],
       [56.99941973, 51.51946081]])

In [88]:
print(fac01.index)
print()
print(set(fac01.index),type(set(fac01.index)))
print(list(fac01.index),type(list(fac01.index)))

DatetimeIndex(['2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
               '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03',
               '2020-03-04', '2020-03-05'],
              dtype='datetime64[ns]', freq=None)

{Timestamp('2020-03-03 00:00:00'), Timestamp('2020-02-25 00:00:00'), Timestamp('2020-02-28 00:00:00'), Timestamp('2020-02-27 00:00:00'), Timestamp('2020-03-02 00:00:00'), Timestamp('2020-03-04 00:00:00'), Timestamp('2020-02-26 00:00:00'), Timestamp('2020-02-29 00:00:00'), Timestamp('2020-03-05 00:00:00'), Timestamp('2020-03-01 00:00:00')} <class 'set'>
[Timestamp('2020-02-25 00:00:00'), Timestamp('2020-02-26 00:00:00'), Timestamp('2020-02-27 00:00:00'), Timestamp('2020-02-28 00:00:00'), Timestamp('2020-02-29 00:00:00'), Timestamp('2020-03-01 00:00:00'), Timestamp('2020-03-02 00:00:00'), Timestamp('2020-03-03 00:00:00'), Timestamp('2020-03-04 00:00:00'), Timestamp('2020-03-05 00:00:00')] <class 'list'>

In [92]:
display(fac01)
print(fac01[1])
print(fac01[datetime.strptime('2020-02-26','%Y-%m-%d')])

2020-02-25    45
2020-02-26    47
2020-02-27    36
2020-02-28    50
2020-02-29    56
2020-03-01    45
2020-03-02    56
2020-03-03    52
2020-03-04    65
2020-03-05    45
dtype: int64

47
47

In [94]:
price_series = pd.Series([4000,3000,3500,2000],
                        index = ['a','b','c','d'])
seriesInfo(price_series)

index + value :
  a    4000
b    3000
c    3500
d    2000
dtype: int64
value :  [4000 3000 3500 2000]
value type :  <class 'numpy.ndarray'>
index :  Index(['a', 'b', 'c', 'd'], dtype='object')
index type :  <class 'pandas.core.indexes.base.Index'>

In [95]:
price_series['a'] = 5000
seriesInfo(price_series)

index + value :
  a    5000
b    3000
c    3500
d    2000
dtype: int64
value :  [5000 3000 3500 2000]
value type :  <class 'numpy.ndarray'>
index :  Index(['a', 'b', 'c', 'd'], dtype='object')
index type :  <class 'pandas.core.indexes.base.Index'>

In [96]:
price_series['e'] = 1000
seriesInfo(price_series)

index + value :
  a    5000
b    3000
c    3500
d    2000
e    1000
dtype: int64
value :  [5000 3000 3500 2000 1000]
value type :  <class 'numpy.ndarray'>
index :  Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
index type :  <class 'pandas.core.indexes.base.Index'>

In [97]:
del price_series['e']
seriesInfo(price_series)

index + value :
  a    5000
b    3000
c    3500
d    2000
dtype: int64
value :  [5000 3000 3500 2000]
value type :  <class 'numpy.ndarray'>
index :  Index(['a', 'b', 'c', 'd'], dtype='object')
index type :  <class 'pandas.core.indexes.base.Index'>

In [98]:
price_series['e'] = np.NaN
seriesInfo(price_series)

index + value :
  a    5000.0
b    3000.0
c    3500.0
d    2000.0
e       NaN
dtype: float64
value :  [5000. 3000. 3500. 2000.   nan]
value type :  <class 'numpy.ndarray'>
index :  Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
index type :  <class 'pandas.core.indexes.base.Index'>

In [99]:
pd.isnull(price_series)

a    False
b    False
c    False
d    False
e     True
dtype: bool

In [103]:
ser01 = pd.Series([100,200,300,400],
                 index = ['a','o','k','m'])
ser02 = pd.Series([500,600,700,800],
                 index=['o','a','h','m'])
display(ser01)
display(ser02)

a    100
o    200
k    300
m    400
dtype: int64

o    500
a    600
h    700
m    800
dtype: int64

In [102]:
ser03 = ser01 + ser02
ser03

a     700.0
h       NaN
k       NaN
m    1200.0
o     700.0
dtype: float64

In [104]:
ser04 = ser01.add(ser02, fill_value=0)
seriesInfo(ser04)

index + value :
  a     700.0
h     700.0
k     300.0
m    1200.0
o     700.0
dtype: float64
value :  [ 700.  700.  300. 1200.  700.]
value type :  <class 'numpy.ndarray'>
index :  Index(['a', 'h', 'k', 'm', 'o'], dtype='object')
index type :  <class 'pandas.core.indexes.base.Index'>

In [105]:
zser = ser03.fillna(ser03.mean())
seriesInfo(zser)

index + value :
  a     700.000000
h     866.666667
k     866.666667
m    1200.000000
o     700.000000
dtype: float64
value :  [ 700.          866.66666667  866.66666667 1200.          700.        ]
value type :  <class 'numpy.ndarray'>
index :  Index(['a', 'h', 'k', 'm', 'o'], dtype='object')
index type :  <class 'pandas.core.indexes.base.Index'>

In [106]:
pd.notnull(ser03)

a     True
h    False
k    False
m     True
o     True
dtype: bool

In [107]:
seriesInfo(ser04)

index + value :
  a     700.0
h     700.0
k     300.0
m    1200.0
o     700.0
dtype: float64
value :  [ 700.  700.  300. 1200.  700.]
value type :  <class 'numpy.ndarray'>
index :  Index(['a', 'h', 'k', 'm', 'o'], dtype='object')
index type :  <class 'pandas.core.indexes.base.Index'>

In [115]:
display(ser04[0:2])
display(ser04[[0,2]])

a    700.0
h    700.0
dtype: float64

a    700.0
k    300.0
dtype: float64

In [114]:
display(ser04[['a','k']])
display(ser04['h':'m'])

a    700.0
k    300.0
dtype: float64

h     700.0
k     300.0
m    1200.0
dtype: float64

In [119]:
tuple_ser = pd.Series((10,20,30,40))
seriesInfo(tuple_ser)
print(tuple_ser[2])

index + value :
  0    10
1    20
2    30
3    40
dtype: int64
value :  [10 20 30 40]
value type :  <class 'numpy.ndarray'>
index :  RangeIndex(start=0, stop=4, step=1)
index type :  <class 'pandas.core.indexes.range.RangeIndex'>
30

In [118]:
set_ser = pd.Series(list({10,20,30,40}))
seriesInfo(set_ser)

index + value :
  0    40
1    10
2    20
3    30
dtype: int64
value :  [40 10 20 30]
value type :  <class 'numpy.ndarray'>
index :  RangeIndex(start=0, stop=4, step=1)
index type :  <class 'pandas.core.indexes.range.RangeIndex'>

In [120]:
data = {'name' : ['가','나','다','라','마'],
       'birty' : [2000,2001,2002,2003,2004]}
userDF = pd.DataFrame(data)

In [121]:
userDF

  name  birty
0    가   2000
1    나   2001
2    다   2002
3    라   2003
4    마   2004

In [122]:
display(userDF['name'])
print(type(userDF['name']))

0    가
1    나
2    다
3    라
4    마
Name: name, dtype: object

<class 'pandas.core.series.Series'>

In [123]:
userDF.index

RangeIndex(start=0, stop=5, step=1)

In [124]:
userDF.columns

Index(['name', 'birty'], dtype='object')

In [125]:
userDF.values

array([['가', 2000],
       ['나', 2001],
       ['다', 2002],
       ['라', 2003],
       ['마', 2004]], dtype=object)

In [126]:
type(userDF.values)

numpy.ndarray

In [127]:
def frameInfo(df) :
    print('data : {}'.format(df))
    print('shape : {}'.format(df.shape))
    print('size : {}'.format(df.size))
    print('ndim : {}'.format(df.ndim))
    print('index : {}'.format(df.index))
    print('index type : {}'.format(type(df.index)))
    print('columns : {}'.format(df.columns))
    print('columns type : {}'.format(type(df.columns)))

In [128]:
frameInfo(userDF)

data :   name  birty
0    가   2000
1    나   2001
2    다   2002
3    라   2003
4    마   2004
shape : (5, 2)
size : 10
ndim : 2
index : RangeIndex(start=0, stop=5, step=1)
index type : <class 'pandas.core.indexes.range.RangeIndex'>
columns : Index(['name', 'birty'], dtype='object')
columns type : <class 'pandas.core.indexes.base.Index'>

In [134]:
data = {
    "2021" : [9910293, 8384050, 2938485, 1203948],
    "2018" : [8910293, 7384050, 5938485, 3203948],
    "2016" : [7910293, 5384050, 7938485, 6203948],
    "2014" : [5910293, 3384050, 4938485, 4203948],
    "지역" : ['수도권' , '경상권' , '수도권' , '경상권'],
    "증가율" : [0.2343 , 0.0434 , 0.0944 , 0.0034]
}
popDF = pd.DataFrame(data)
frameInfo(popDF)

data :       2021     2018     2016     2014   지역     증가율
0  9910293  8910293  7910293  5910293  수도권  0.2343
1  8384050  7384050  5384050  3384050  경상권  0.0434
2  2938485  5938485  7938485  4938485  수도권  0.0944
3  1203948  3203948  6203948  4203948  경상권  0.0034
shape : (4, 6)
size : 24
ndim : 2
index : RangeIndex(start=0, stop=4, step=1)
index type : <class 'pandas.core.indexes.range.RangeIndex'>
columns : Index(['2021', '2018', '2016', '2014', '지역', '증가율'], dtype='object')
columns type : <class 'pandas.core.indexes.base.Index'>

In [131]:
columns = ['지역','2014','2016','2018','2021','증가율']
popDF = pd.DataFrame(data,
                    columns = columns)
popDF

    지역     2014     2016     2018     2021     증가율
0  수도권  5910293  7910293  8910293  9910293  0.2343
1  경상권  3384050  5384050  7384050  8384050  0.0434
2  수도권  4938485  7938485  5938485  2938485  0.0944
3  경상권  4203948  6203948  3203948  1203948  0.0034

In [139]:
popDF = pd.DataFrame(data,
                     index = ['서울','부산','경기','대구'],
                    columns = columns)
popDF

     지역     2014     2016     2018     2021     증가율
서울  수도권  5910293  7910293  8910293  9910293  0.2343
부산  경상권  3384050  5384050  7384050  8384050  0.0434
경기  수도권  4938485  7938485  5938485  2938485  0.0944
대구  경상권  4203948  6203948  3203948  1203948  0.0034

In [140]:
frameInfo(popDF)

data :      지역     2014     2016     2018     2021     증가율
서울  수도권  5910293  7910293  8910293  9910293  0.2343
부산  경상권  3384050  5384050  7384050  8384050  0.0434
경기  수도권  4938485  7938485  5938485  2938485  0.0944
대구  경상권  4203948  6203948  3203948  1203948  0.0034
shape : (4, 6)
size : 24
ndim : 2
index : Index(['서울', '부산', '경기', '대구'], dtype='object')
index type : <class 'pandas.core.indexes.base.Index'>
columns : Index(['지역', '2014', '2016', '2018', '2021', '증가율'], dtype='object')
columns type : <class 'pandas.core.indexes.base.Index'>

In [141]:
popDF.index

Index(['서울', '부산', '경기', '대구'], dtype='object')

In [142]:
popDF.columns

Index(['지역', '2014', '2016', '2018', '2021', '증가율'], dtype='object')

In [143]:
popDF.index.name = 'city'
popDF.columns.name = 'feature'
popDF

feature   지역     2014     2016     2018     2021     증가율
city
서울       수도권  5910293  7910293  8910293  9910293  0.2343
부산       경상권  3384050  5384050  7384050  8384050  0.0434
경기       수도권  4938485  7938485  5938485  2938485  0.0944
대구       경상권  4203948  6203948  3203948  1203948  0.0034

In [144]:
popDF.T

city          서울       부산       경기       대구
feature
지역           수도권      경상권      수도권      경상권
2014     5910293  3384050  4938485  4203948
2016     7910293  5384050  7938485  6203948
2018     8910293  7384050  5938485  3203948
2021     9910293  8384050  2938485  1203948
증가율       0.2343   0.0434   0.0944   0.0034

In [145]:
popDF[['2014','2016']]

feature     2014     2016
city
서울       5910293  7910293
부산       3384050  5384050
경기       4938485  7938485
대구       4203948  6203948

In [146]:
popDF['2014-2016증가율']=((popDF['2016']-popDF['2014'])/popDF['2014']*100).round(2)

In [147]:
popDF

feature   지역     2014     2016     2018     2021     증가율  2014-2016증가율
city
서울       수도권  5910293  7910293  8910293  9910293  0.2343         33.84
부산       경상권  3384050  5384050  7384050  8384050  0.0434         59.10
경기       수도권  4938485  7938485  5938485  2938485  0.0944         60.75
대구       경상권  4203948  6203948  3203948  1203948  0.0034         47.57

In [148]:
del popDF['2014-2016증가율']

In [149]:
popDF

feature   지역     2014     2016     2018     2021     증가율
city
서울       수도권  5910293  7910293  8910293  9910293  0.2343
부산       경상권  3384050  5384050  7384050  8384050  0.0434
경기       수도권  4938485  7938485  5938485  2938485  0.0944
대구       경상권  4203948  6203948  3203948  1203948  0.0034

In [150]:
type(popDF['지역'])

pandas.core.series.Series

In [152]:
type(popDF[['지역','증가율']])

pandas.core.frame.DataFrame

In [154]:
display(popDF[0:1])

feature   지역     2014     2016     2018     2021     증가율
city
서울       수도권  5910293  7910293  8910293  9910293  0.2343

In [156]:
popDF[:'서울']

feature   지역     2014     2016     2018     2021     증가율
city
서울       수도권  5910293  7910293  8910293  9910293  0.2343

In [157]:
popDF[:'경기']

feature   지역     2014     2016     2018     2021     증가율
city
서울       수도권  5910293  7910293  8910293  9910293  0.2343
부산       경상권  3384050  5384050  7384050  8384050  0.0434
경기       수도권  4938485  7938485  5938485  2938485  0.0944

In [158]:
popDF

feature   지역     2014     2016     2018     2021     증가율
city
서울       수도권  5910293  7910293  8910293  9910293  0.2343
부산       경상권  3384050  5384050  7384050  8384050  0.0434
경기       수도권  4938485  7938485  5938485  2938485  0.0944
대구       경상권  4203948  6203948  3203948  1203948  0.0034

In [159]:
popDF['2021']['서울']

9910293

In [160]:
type(popDF['2021']['서울']) # 스칼라

numpy.int64

In [161]:
popDF['2021'][['서울','대구']]

city
서울    9910293
대구    1203948
Name: 2021, dtype: int64

In [162]:
type(popDF['2021'][['서울','대구']])

pandas.core.series.Series

In [181]:
score_data = {
    'kor'  : [80,90,70,30],
    'eng'  : [90,70,60,40],
    'math' : [90,60,90,70] 
}
columns = ['kor','eng','math']
index   = ['김지은', '황인범', '김정수', '최호진']

exec_df = pd.DataFrame(score_data , index=index , columns=columns)
exec_df

     kor  eng  math
김지은   80   90    90
황인범   90   70    60
김정수   70   60    90
최호진   30   40    70

In [164]:
exec_df['math']

김지은    90
황인범    60
김정수    90
최호진    70
Name: math, dtype: int64

In [165]:
type(exec_df['math'])

pandas.core.series.Series

In [166]:
# 두 개 이상의 피처값 추출 -> 데이터 프레임 
display(exec_df[['kor','eng']])
print(type(exec_df[['kor','eng']]))

     kor  eng
김지은   80   90
황인범   90   70
김정수   70   60
최호진   30   40

<class 'pandas.core.frame.DataFrame'>

In [172]:
exec_df

     kor  eng  math  avg
김지은   80   90    90  NaN
황인범   90   70    60  NaN
김정수   70   60    90  NaN
최호진   30   40    70  NaN

In [185]:
exec_df['avg'] = np.mean(exec_df[['kor','eng','math']].T)
exec_df

      kor   eng  math        avg
김지은  80.0  90.0  90.0  86.666667
황인범  90.0  70.0  60.0  73.333333
김정수  70.0  60.0  90.0  73.333333
최호진  30.0  40.0  70.0  46.666667
avg  67.5  65.0  77.5  70.000000

In [177]:
type(np.mean(exec_df[['kor','eng','math']]))

pandas.core.series.Series

In [184]:
exec_df.loc['avg'] = np.mean(exec_df[['kor','eng','math']])
exec_df

      kor   eng  math
김지은  80.0  90.0  90.0
황인범  90.0  70.0  60.0
김정수  70.0  60.0  90.0
최호진  30.0  40.0  70.0
avg  67.5  65.0  77.5

In [190]:
exec_df['eng']['최호진']=90
exec_df['avg'] = np.mean(exec_df[['kor','eng','math']].T)
exec_df

      kor   eng  math        avg
김지은  80.0  90.0  90.0  86.666667
황인범  90.0  70.0  60.0  73.333333
김정수  70.0  60.0  90.0  73.333333
최호진  30.0  90.0  70.0  63.333333
avg  67.5  65.0  77.5  70.000000

In [191]:
exec_df[:'김지은']

      kor   eng  math        avg
김지은  80.0  90.0  90.0  86.666667

In [194]:
exec_df.T['김정수']

kor     70.000000
eng     60.000000
math    90.000000
avg     73.333333
Name: 김정수, dtype: float64

In [195]:
courtDF = pd.read_csv('./data/court_code.txt',sep='\t',encoding='cp949')
courtDF.head()

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [198]:
display(courtDF[courtDF['폐지여부']=='존재'])
print(type(courtDF[courtDF['폐지여부']=='존재']))

            법정동코드                  법정동명 폐지여부
0      1100000000                 서울특별시   존재
1      1111000000             서울특별시 종로구   존재
2      1111010100         서울특별시 종로구 청운동   존재
3      1111010200         서울특별시 종로구 신교동   존재
4      1111010300         서울특별시 종로구 궁정동   존재
...           ...                   ...  ...
46175  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
46176  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
46177  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
46178  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
46179  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

[20544 rows x 3 columns]

<class 'pandas.core.frame.DataFrame'>

In [200]:
courtDF[courtDF['법정동명'].str[:5]=='서울특별시']

           법정동코드           법정동명 폐지여부
0     1100000000          서울특별시   존재
1     1111000000      서울특별시 종로구   존재
2     1111010100  서울특별시 종로구 청운동   존재
3     1111010200  서울특별시 종로구 신교동   존재
4     1111010300  서울특별시 종로구 궁정동   존재
...          ...            ...  ...
1107  1174010600  서울특별시 강동구 둔촌동   존재
1108  1174010700  서울특별시 강동구 암사동   존재
1109  1174010800  서울특별시 강동구 성내동   존재
1110  1174010900  서울특별시 강동구 천호동   존재
1111  1174011000  서울특별시 강동구 강일동   존재

[1112 rows x 3 columns]

In [204]:
display(courtDF['법정동명'].str.split(' '))
print(type(courtDF['법정동명'].str.split(' ')))

0                          [서울특별시]
1                     [서울특별시, 종로구]
2                [서울특별시, 종로구, 청운동]
3                [서울특별시, 종로구, 신교동]
4                [서울특별시, 종로구, 궁정동]
                   ...
46175    [제주특별자치도, 서귀포시, 표선면, 하천리]
46176    [제주특별자치도, 서귀포시, 표선면, 성읍리]
46177    [제주특별자치도, 서귀포시, 표선면, 가시리]
46178    [제주특별자치도, 서귀포시, 표선면, 세화리]
46179    [제주특별자치도, 서귀포시, 표선면, 토산리]
Name: 법정동명, Length: 46180, dtype: object

<class 'pandas.core.series.Series'>

In [205]:
type(courtDF['법정동명'])

pandas.core.series.Series

In [206]:
courtDF['법정동명']

0                       서울특별시
1                   서울특별시 종로구
2               서울특별시 종로구 청운동
3               서울특별시 종로구 신교동
4               서울특별시 종로구 궁정동
                 ...
46175    제주특별자치도 서귀포시 표선면 하천리
46176    제주특별자치도 서귀포시 표선면 성읍리
46177    제주특별자치도 서귀포시 표선면 가시리
46178    제주특별자치도 서귀포시 표선면 세화리
46179    제주특별자치도 서귀포시 표선면 토산리
Name: 법정동명, Length: 46180, dtype: object

In [207]:
courtDF[courtDF['법정동명'].str.startswith('제주')]

            법정동코드                  법정동명 폐지여부
45607  4900000000                   제주도   폐지
45608  4911000000               제주도 제주시   폐지
45609  4911010100          제주도 제주시 일도일동   폐지
45610  4911010200          제주도 제주시 일도이동   폐지
45611  4911010300          제주도 제주시 이도일동   폐지
...           ...                   ...  ...
46175  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
46176  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
46177  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
46178  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
46179  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

[573 rows x 3 columns]

In [211]:
courtDF[courtDF['법정동명'].str.contains('강서') & 
courtDF['법정동명'].str.contains('부산')]

           법정동코드            법정동명 폐지여부
1541  2144000000       부산직할시 강서구   폐지
1542  2144010100  부산직할시 강서구 대저일동   폐지
1543  2144010200  부산직할시 강서구 대저이동   폐지
1544  2144010300   부산직할시 강서구 강동동   폐지
1545  2144010400   부산직할시 강서구 명지동   폐지
1546  2144010500   부산직할시 강서구 죽림동   폐지
1547  2144010600   부산직할시 강서구 식만동   폐지
1548  2144010700   부산직할시 강서구 죽동동   폐지
1549  2144010800   부산직할시 강서구 봉림동   폐지
1550  2144010900   부산직할시 강서구 송정동   폐지
1551  2144011000   부산직할시 강서구 화전동   폐지
1552  2144011100   부산직할시 강서구 녹산동   폐지
1553  2144011200   부산직할시 강서구 생곡동   폐지
1554  2144011300   부산직할시 강서구 구랑동   폐지
1555  2144011400   부산직할시 강서구 지사동   폐지
1556  2144011500   부산직할시 강서구 미음동   폐지
1557  2144011600   부산직할시 강서구 범방동   폐지
1558  2144011700   부산직할시 강서구 신호동   폐지
1559  2144011800   부산직할시 강서구 동선동   폐지
1560  2144011900   부산직할시 강서구 성북동   폐지
1561  2144012000   부산직할시 강서구 눌차동   폐지
1562  2144012100   부산직할시 강서구 천성동   폐지
1563  2144012200   부산직할시 강서구 대항동   폐지
1564  2144090100   부산직할시 강서구 가락동   폐지
1565  2144090200   부산직할시 강서구 천가동   폐지
2792  2644000000       부산광역시 강서구   존재
2793  2644010100  부산광역시 강서구 대저1동   존재
2794  2644010200  부산광역시 강서구 대저2동   존재
2795  2644010300   부산광역시 강서구 강동동   존재
2796  2644010400   부산광역시 강서구 명지동   존재
2797  2644010500   부산광역시 강서구 죽림동   존재
2798  2644010600   부산광역시 강서구 식만동   존재
2799  2644010700   부산광역시 강서구 죽동동   존재
2800  2644010800   부산광역시 강서구 봉림동   존재
2801  2644010900   부산광역시 강서구 송정동   존재
2802  2644011000   부산광역시 강서구 화전동   존재
2803  2644011100   부산광역시 강서구 녹산동   존재
2804  2644011200   부산광역시 강서구 생곡동   존재
2805  2644011300   부산광역시 강서구 구랑동   존재
2806  2644011400   부산광역시 강서구 지사동   존재
2807  2644011500   부산광역시 강서구 미음동   존재
2808  2644011600   부산광역시 강서구 범방동   존재
2809  2644011700   부산광역시 강서구 신호동   존재
2810  2644011800   부산광역시 강서구 동선동   존재
2811  2644011900   부산광역시 강서구 성북동   존재
2812  2644012000   부산광역시 강서구 눌차동   존재
2813  2644012100   부산광역시 강서구 천성동   존재
2814  2644012200   부산광역시 강서구 대항동   존재

In [213]:
courtDF['법정동명'].str.replace(' ','/')

0                       서울특별시
1                   서울특별시/종로구
2               서울특별시/종로구/청운동
3               서울특별시/종로구/신교동
4               서울특별시/종로구/궁정동
                 ...
46175    제주특별자치도/서귀포시/표선면/하천리
46176    제주특별자치도/서귀포시/표선면/성읍리
46177    제주특별자치도/서귀포시/표선면/가시리
46178    제주특별자치도/서귀포시/표선면/세화리
46179    제주특별자치도/서귀포시/표선면/토산리
Name: 법정동명, Length: 46180, dtype: object

In [220]:
emptyDF = pd.DataFrame({
    'col01' : ['abcd   ' , '  FFFght '  , 'abCCe    '],
    'col02' : ['   fjHij' , ' ffght '  , 'Ibcce    '],
        
})
emptyDF

       col01      col02
0    abcd         fjHij
1    FFFght      ffght
2  abCCe      Ibcce

In [222]:
emptyDF['col01'].str.strip().str.upper()

0      ABCD
1    FFFGHT
2     ABCCE
Name: col01, dtype: object